body{
    background-color: rgba(232,232,232,1);
}

.title{
    /* margin-top:20px; */
}
.border-thick{
    border-width:20px !important;

}

.about .bio{
    /* display: flex; */
}

.about .bio .content{
    /* display: flex; */
    /* width: 80%; */
}

.about .bio img{
     width: 400px; 
     max-height: 300px;
     filter: grayscale(85%);
    /* width: auto; 
    height: auto; */ 
   
}